{% extends "base.html" %}
{% load static %}
{% block title %} Sign Up {% endblock %}

{% load crispy_forms_tags %}
    {% for msg in message %}
        <script>
            window.alert(msg)
        </script>
    {% endfor %}
{% block content %}
<div class="wrapper" style="background-image: url({% static 'images/background.png' %})">
    <div class="row justify-content-center" style="padding-top: 100px">
        <div class="col-8">
            <div class="sign-up form" style="max-width: 600px">
                <h1 class="mt-2 text-center">{{heading}}</h1>
                <hr class="mt-0 mb-4">
        
                <form method="post" class=" card p-3 form-group" style="max-width: 600px;">
                    {% csrf_token %}
                    {{form|crispy}}
                    <p>Already have an account?<a href="/login">Login here.</a></p>
                    <button type="submit" class="btn btn-success" >Sign Up</button>
        
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}

